/* responsive */
@media (max-width: 1600px) {
	/* news feed page */
	.follow {
		left: 58.5%;
	}
}

@media (max-width: 1300px) {
	/* main page */
	.right-content {
		width: 100%;
	}

	.login-footer ul {
		flex-wrap: wrap;
	}

	.login-footer li {
		margin-bottom: 1rem;
	}

	/* news feed page */
	.follow {
		left: 60%;
	}
}
/***************************************************************/
@media (max-width: 1150px) {
	/* main page */
	.main-page {
		grid-template-columns: 2fr 1fr;
	}

	.right {
		grid-column: 2 / -1;
		width: 90%;
		margin: auto;
	}

	.left {
		grid-column: 1 / 2;
	}

	.left-content {
		width: 90%;
		margin: auto;
	}

	.login {
		width: 60rem;
	}

	.login-modal {
		width: 60rem;
	}

	/* news feed page */
	.feeds-content {
		grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
	}

	.search-bar {
		display: none;
	}

	.follow {
		display: none;
	}

	.post-btn {
		left: 80%;
	}
}

/********************************************************************/
@media (max-width: 950px) {

	.main-page {
		grid-template-columns: 2fr 1fr;
	}

	.right {
		grid-column: 2 / -1;
		width: 98%;
		margin: auto;
	}

	.left {
		grid-column: 1 / 2;
	}

	.left-content {
		width: 98%;
		margin: auto;
	}
	.right-content h2 {
		font-size: 1.5rem;
	}
}


@media (max-width: 900px) {
	.main-page {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.right {
		grid-column: 1 / -1;
		grid-row: 2 / -1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	.left {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		width: 95%;
		margin: auto;
	}

	/* login page */
	.login-page-nav ul {
		width: 60rem;
	}

	.login {
		width: 60rem;
	}

	.login-modal {
		width: 50rem;
	}
}

@media (max-width: 800px) {
	/* main page */
	.right {
		width: 50%;
	}

	.left-content {
		width: 95%;
	}

	.main-footer ul {
		flex-wrap: wrap;
	}

	.main-footer a {
		font-size: 1.4rem;
		margin: 2rem 2rem;
	}
}

@media (max-width: 700px) {
	/* login page */

	.login {
		width: 50rem;
	}

	.login-modal {
		width: 40rem;
	}

	/* news feed page */
	.icons a {
		margin-right: 5.5rem;
	}

	.feeds-content {
		grid-template-columns: 1fr;
	}

	.feeds-header {
		grid-column: 1 / -1;
	}

	.posts {
		grid-column: 1 / -1;
	}

	.modal {
		width: 90%;
	}

	.modal-img {
		flex-shrink: 0;
	}

	.post-btn {
		left: 75%;
		font-size: 1.8rem;
		width: 11rem;
		padding: 1.2rem 0.8rem;
	}

	.sidebar-list-1 li,
	.sidebar-list-2 li {
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 600px) {
	/* main page */
	.main-page {
		grid-template-rows: 1fr;
	}

	.left {
		display: none;
	}

	.right {
		grid-row: 1 / -1;
		width: 90%;
	}

	/* login page */
	
	.login {
		width: 40rem;
		grid-template-columns: 5rem 8fr;
	}

	.login-footer p {
		font-size: 1.4rem;
	}

	.login-modal {
		width: 35rem;
	}

	.login-modal i {
		top: 2.5rem;
	}

	.login-modal p {
		font-size: 1.4rem;
	}

	/* news feed page */

	.icons a {
		margin-right: 5rem;
	}

	.dark-mode p {
		margin: 0 1rem 0 0;
		/* font-size: 1.6rem; */
	}

	.user a,
	.user i {
		display: none;
	}

	.post-text {
		width: 85%;
	}

	.post-img {
		width: 85%;
		height: 30rem;
	}

	.post-btn {
		left: 70%;
	}
}

@media (max-width: 500px) {
	/* main page */
	.right-content h1 {
		font-size: 2.5rem;
	}

	/* login page */
	.login {
		width: 40rem;
	}

	.login-form input{
		width: 80%;
	}

	.login-modal {
		width: 35rem;
	}

	/* news feed page */
	
	.icons a {
		margin-right: 4rem;
	}

	.post {
		padding: 1rem;
	}

	.user-avatar {
		width: 4rem;
		height: 4rem;
		margin-right: 1rem;
	}

}

@media (max-width: 450px) {
	.icons a {
		margin-right: 4rem;
	}y

	.icons i {
		font-size: 2.2rem;
	}

	.user {
		margin-left: 1rem;
	}

	.dark-mode {
		margin: 0;
	}

	.post-img {
		width: 35rem;
		height: 22rem;
	}
}

@media (max-width: 400px) {
	/* login page */
	.login-page {
		grid-template-columns: 2rem 2fr 2rem;
	}

	.login {
		width: 100%;
	}

	.login-modal {
		width: 35rem;
	}

	/* news feed page */
	.icons i {
		font-size: 2rem;
	}

	.user {
		margin-left: 1rem;
	}

	.post-icons i {
		margin-right: 4rem;
	}

	.post-btn {
		left: 60%;
	}

}